.about-container {
  height: 100vh;
  overflow: hidden;
  background: rgb(252, 247, 233);
}

.about-content {
  position: absolute;
  bottom: 0;
  height: 86vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.col1 {
  height: 100%;
  width: 35%;
}

.col1 h1 {
  font-size: 90px;
  font-weight: 600;
  padding: 50px 50px;
}

.col2 {
  height: 100%;
  width: 65%;
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
}
