.timeline-slides-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.timeline-slides-container .timeline-slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.timeline-slide-title {
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 900;
}

.timeline-slides-right {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.timeline-slides-right img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: scale(1.3);
  position: absolute;
  top: 0;
}

.timeline-slides-right .as-primary {
  opacity: 1;
  transform: scale(1.1);
}
